<!DOCTYPE html>
<html lang="en">
   <head>
      <title>403</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <link rel="stylesheet" href="../../stylesheets/403.css">
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="col-md-12">
                  <div class="error-template">
                     <p>403 Access Denied</p>
                     <img src="../../images/denied<%= (Math.floor(Math.random() * 5)+1);
                     %>.gif" alt="">
                     <div class="error-details">
                        <p>You need to login to access this page.</p>
                     </div>
                     <div class="error-actions">
                        <a href="/" class="btn btn-primary btn-lg">
                           <span class="glyphicon glyphicon-home"></span>
                              Take Me Home </a>
                     </div>
                  </div>
            </div>
         </div>
      </div>
   </body>
</html>